<header><h1> Welcome to Health Buddy  </h1></header>

{% if user.is_authenticated%}
{% if user.is_patient%}
<nav>
<a href="{% url 'doctor index' %}">View Doctors</a> <br>
    </nav>
{% else %}
<nav>
<a href="{% url 'patient history' %}">View Patient History</a> <br>
    </nav>
{% endif %}
<nav><a href="{% url 'logout' %}">Logout</a> <br></nav>
{% else %}
<nav><a href="{% url 'register' %}">Register</a> <br>
<a href="{% url 'login' %}">Login</a></nav>
<aside> <a href="{% url 'admin:index' %}">Admin panel</a> </aside>
{% endif %}